h1, h2 {
    border-bottom: solid 1px rgb(216, 222, 228);
}

h1 {
    margin-top: .5rem;
}

img {
    max-width: 100%;
}

blockquote {
    margin: 0;
    padding: 0 1em;
    color: rgb(101, 109, 118);
    border-left: 0.25em solid rgb(208, 215, 222);
}

table {
    border-collapse: collapse;
}

tr th,
tr td {
    border: solid 1px rgb(208, 215, 222);
    padding: 6px 13px;
}

tr {
    background: rgb(255, 255, 255);
}

tr:nth-child(2n) {
    background: rgb(246, 248, 250);
}

sup a {
    text-decoration: none;
    font-style: italic; 
}

ul:has(sub) {
    list-style: none;
    padding: 0;
}

li:has(sub) {
    margin: 0;
    line-height: .75rem;
}

.ok li {
    list-style-type: '✅';
    padding-left: .5rem;
}

.ng li {
    list-style-type: '❌';
    padding-left: .5rem;
}

.warn li {
    list-style-type: '⚠️';
    padding-left: .5rem;
}

code.hljs,
code {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    border-radius: 6px;
    word-wrap: break-word;
    white-space: break-spaces;

    line-height: 1.5;
    background-color: rgba(175, 184, 193, 0.2);
}

pre code.hljs,
pre code,
pre {
    border-radius: 6px;
    line-height: 1.45;
    background: rgb(246, 248, 250);
}

.cover,
.cover h1,
.cover .author,
.cover .author h2 {
    width: 100%;
    text-align: center;
}

.cover {
    position: relative;
}

.cover h1,
.cover .author h2 {
    border: none;
}

.cover h1,
.cover .author {
    position: absolute;
}

.cover h1 {
    top: 2in;
}

.cover .author {
    top: 6in;
}
