@font-face {
    font-family: "MPLUS1";
    src: url("./fonts/MPLUS1-VariableFont_wght.ttf");
}

@font-face {
    font-family: "MPLUS1Code";
    src: url("./fonts/MPLUS1Code-VariableFont_wght.ttf");
}

@font-face {
    font-family: "NotoColorEmoji";
    src: url("./fonts/NotoColorEmoji-Regular.ttf");
}

html {
    font-family: "MPLUS1", "NotoColorEmoji";
}

code {
    font-family: "MPLUS1Code", "NotoColorEmoji";
}

.page-break {
    page-break-after: always;
}

pre,
pre code.hljs {
    background: rgb(246, 248, 250);
}

h1, h2 {
    border-bottom: solid 1px rgb(216, 222, 228);
}

blockquote {
    margin: 0;
    padding: 0 1em;
    color: rgb(101, 109, 118);
    border-left: 0.25em solid rgb(208, 215, 222);
}

table {
    border-collapse: collapse;
}

tr th,
tr td {
    border: solid 1px rgb(208, 215, 222);
    padding: 6px 13px;
}

tr {
    background: rgb(255, 255, 255);
}

tr:nth-child(2n) {
    background: rgb(246, 248, 250);
}

sup a {
    text-decoration: none;
    font-style: italic; 
}

ul:has(sub) {
    list-style: none;
    padding: 0;
}

li:has(sub) {
    margin: 0;
    line-height: .75rem;
}

.ok li {
    list-style-type: '✅';
    padding-left: .5rem;
}

.ng li {
    list-style-type: '❌';
    padding-left: .5rem;
}

.warn li {
    list-style-type: '⚠';
    padding-left: .5rem;
}

.markdown-body code,
.markdown-body tt {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    white-space: break-spaces;
    background-color: rgba(175, 184, 193, 0.2);
    border-radius: 6px;
}

.markdown-body pre code,
.markdown-body pre tt {
    padding: inherit;
    margin: inherit;
    font-size: inherit;
    white-space: inherit;
    background-color: inherit;
    border-radius: inherit;
}
